ipykernel==6.29.5
jupyter==1.1.1
matplotlib==3.9.4
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
numpy==2.0.2
pandas==2.2.3
pyarrow==21.0.0
python-dotenv==1.0.1
PyYAML==6.0.2
requests==2.32.3
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
shap==0.46.0
statsmodels==0.14.4
umap-learn==0.5.7
